In [5]:
import requests
import pandas as pd
import xmltodict
import json
years = ['2016','2022']
elements = {'측정월':[], '기온(°C)':[], '최고 기온(°C)':[], '최저 기온(°C)':[], '습도(%)':[],
            '강수량(mm)':[], '일사량(MJ/m²)':[]}
name = ['date', 'temp', 'max_Temp', 'min_Temp', 'hum', 'rain', 'sun_Qy']
keys = list(elements.keys())

for year in years:
    url = 'http://apis.data.go.kr/1390802/AgriWeather/WeatherObsrInfo/GnrlWeather/getWeatherYearMonList?serviceKey=zpwPdE1deGAf1VAFZKWybmt2YlCt%2FmMtzBnjlCRnJegpjiqpDrcjTItEZOKNLrQnv0x%2BMkFxvp6M7lB%2BnFvQyg%3D%3D&Page_No=1&Page_Size=20&search_Year='+year+'&obsr_Spot_Code=699946A001'
    response = requests.get(url)
    preparsing = xmltodict.parse(response.text)
    parsing = json.dumps(preparsing) 
    json_object= json.loads(parsing)
    dataOfMonth = json_object['response']['body']['items']['item']
    for n in range(7):
        element = []
        for i in range(6,12):
            element.append(dataOfMonth[i][name[n]])
        elements[keys[n]] = element

In [21]:
import requests
import pandas as pd
import xmltodict
import json

years = ['2016','2022']
date = []
temp = []
max_temp = []
min_temp = []
hum = []
widdir = []
wind = []
rain = []
sun_Qy = []
idx= 12

for year in years:
    url = 'http://apis.data.go.kr/1390802/AgriWeather/WeatherObsrInfo/GnrlWeather/getWeatherYearMonList?serviceKey=zpwPdE1deGAf1VAFZKWybmt2YlCt%2FmMtzBnjlCRnJegpjiqpDrcjTItEZOKNLrQnv0x%2BMkFxvp6M7lB%2BnFvQyg%3D%3D&Page_No=1&Page_Size=20&search_Year='+year+'&obsr_Spot_Code=699946A001'
    response = requests.get(url)
    preparsing = xmltodict.parse(response.text)
    parsing = json.dumps(preparsing) 
    json_object= json.loads(parsing)
    dataOfMonth = json_object['response']['body']['items']['item']

    for i in range(6,idx):
        date.append(dataOfMonth[i]['date'])

    for i in range(6,idx):
        temp.append(dataOfMonth[i]['temp'])

    for i in range(6,idx):
        max_temp.append(dataOfMonth[i]['max_Temp'])

    for i in range(6,idx):
        min_temp.append(dataOfMonth[i]['min_Temp'])
    
    for i in range(6,idx):
        hum.append(dataOfMonth[i]['hum'])

    for i in range(6,idx):
        rain.append(dataOfMonth[i]['rain'])
    
    for i in range(6,idx):
        sun_Qy.append(dataOfMonth[i]['sun_Qy'])
        

elements = {'측정월':date, '기온(°C)':temp, '최고 기온(°C)':max_temp, '최저 기온(°C)':min_temp, '습도(%)':hum,
            '강수량(mm)':rain, '일사량(MJ/m²)':sun_Qy}

for key in elements.keys():
    for x in range(0,len(date)):
        if elements[key][x]==None or elements[key][x]=='0':
            elements[key][x] = elements[key][x-6]
elements

12 12 12 12 12 12 12

{'측정월': ['2016-07',
  '2016-08',
  '2016-09',
  '2016-10',
  '2016-11',
  '2016-12',
  '2022-07',
  '2022-08',
  '2022-09',
  '2022-10',
  '2022-11',
  '2022-12'],
 '기온(°C)': ['25.5',
  '27',
  '22.7',
  '19.3',
  '13',
  '8.7',
  '26.3',
  '27.1',
  '23.3',
  '17.6',
  '14.4',
  '5.6'],
 '최고 기온(°C)': ['32.2',
  '34',
  '33.8',
  '29.2',
  '25.3',
  '19.1',
  '34',
  '33.8',
  '35.3',
  '29.6',
  '23.3',
  '17.4'],
 '최저 기온(°C)': ['19.8',
  '19.2',
  '15.8',
  '9.5',
  '3.3',
  '-0.6',
  '19.3',
  '18.1',
  '15.8',
  '6.5',
  '2.9',
  '-3.3'],
 '습도(%)': ['89.3',
  '72.3',
  '82.3',
  '81.4',
  '75.2',
  '70.1',
  '84.3',
  '81.4',
  '75.8',
  '67.4',
  '70.5',
  '66.4'],
 '강수량(mm)': ['247',
  '92.5',
  '220.5',
  '389',
  '66',
  '130',
  '303.5',
  '220',
  '370',
  '18',
  '123',
  '17'],
 '일사량(MJ/m²)': ['403.2',
  '544.3',
  '307.5',
  '182',
  '11.3',
  '8.7',
  '260',
  '193.5',
  '185.2',
  '206',
  '185.1',
  '199.7']}

In [6]:
li = [i for i in range(0,42)]
print(li)
data = pd.DataFrame(elements)
# data.to_excel('data.xlsx')
data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41]

       측정월 기온(°C) 최고 기온(°C) 최저 기온(°C) 습도(%) 강수량(mm) 일사량(MJ/m²)
0  2022-07   26.3        34      19.3  84.3   303.5        260
1  2022-08   27.1      33.8      18.1  81.4     220      193.5
2  2022-09   23.3      35.3         0  75.8     370      185.2
3  2022-10   17.6      29.6       6.5  67.4      18        206
4  2022-11   14.4      23.3       2.9  70.5     123      185.1
5  2022-12    5.6      17.4      -3.3  66.4      17      199.7

In [50]:
brix = pd.read_excel('brix_avg.xlsx')
brix.to_csv('brix.txt')

In [37]:
data

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
Index: []

[0 rows x 41 columns]